@mixin respond($breakpoint) {
  @if $breakpoint == xs { @media (max-width: 22.5em) { @content; } }
  @if $breakpoint == sm { @media (max-width: 40em) { @content; } }
  @if $breakpoint == md { @media (max-width: 56em) { @content; } }
  @if $breakpoint == lg { @media (max-width: 75em) { @content; } }
  @if $breakpoint == xl { @media (max-width: 90em) { @content; } }
  @if $breakpoint == xxl { @media (min-width: 112.5em) { @content; } }
}

@mixin gradientText($colors: ($primary-color, $secondary-color), $angle: 135deg) {
  color: nth($colors, 2);
  background-image: linear-gradient($angle, $colors);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  @supports not ((background-clip: text) or (-webkit-background-clip: text)) {
    color: nth($colors, 1);
  }
}

@mixin supportIE11 {
  @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {
    @content;
  }
}

@mixin verticalCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin box-shadow($h-offset, $v-offset, $blur, $spread, $color) {
  box-shadow: $h-offset $v-offset $blur $spread $color;
}
