main-area {
  padding: 5rem 0;

  @media only screen and (max-width: 600px) {
    border: 0;
    padding: 0 1rem;
  }

  .collection {
    display: grid;
    grid-gap: 2rem;
    grid-template: 1fr / 1fr 2fr;
    padding: 0 1.5rem;

    @media only screen and (max-width: 768px) {
      grid-template: auto / 1fr;
      padding: 0;
    }

    p + p {
      margin-top: 1rem;
    }
    
    span {
      margin-top: 2rem;
    }
  }
}

framework-container {
  width: 100%;
  padding: 0 1.5rem;
  margin: auto;
  max-width: 1140px;

  @media only screen and (max-width: 1024px) {
    max-width: 960px;
  }

  @media only screen and (max-width: 768px) {
    max-width: 720px;
    justify-content: center;
  }

  @media only screen and (max-width: 600px) {
    max-width: 540px;
  }
}
